.banner .slick-dots {
  position: absolute;
  bottom: 20px;
  height: 100px;
}

.review .slick-dots {
  bottom: -5.5rem;
}

.slick-dots li {
  /* display: inline-block; */
  margin: 0 10px;
  width: auto;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 66px;
  height: 10px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: #b7b7b7;
}

.slick-dots li.slick-active button {
  background: #ffcd00;
}

.slick-dots li button:before {
  font-size: 0;
}
